<h4 class="text-center">Relations</h4>
<form action="/" method="POST">
  <label for="xR">X</label>
  <select name="xR" id="xR">
    <option>1</option>
    <option>2</option>
    <option>3</option>
  </select>
  <label for="yR">Y</label>
  <select name="yR" type="number" id="yR">
    <option>1</option>
    <option>2</option>
    <option>3</option>
  </select>
  <button type="submit">Add relation</button>
</form>
<div class="container">
  <table class="mx-auto">
    <thead>
      <tr>
        <th>X</th>
        <th>Y</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>1</td>
      </tr>
      <tr>
        <td>1</td>
        <td>3</td>
      </tr>
      <tr>
        <td>2</td>
        <td>1</td>
      </tr>
      <tr>
        <td>3</td>
        <td>3</td>
      </tr>
    </tbody>
  </table>
</div>