<h4 class="text-center">Set</h4>
      <form action="/" method="POST">
        <label for="newelement">New element</label>
        <input name="newelement" type="number" autofocus value="1" id="newelement">
        <button type="submit">Add element</button>
      </form>
      <table class="mx-auto text-center">
        <thead>
          <tr>
            <th>Elementos</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td><a href="/">delete</a></td>
          </tr>
          <tr>
            <td>2</td>
            <td><a href="/">delete</a></td>
          </tr>
          <tr>
            <td>3</td>
            <td><a href="/">delete</a></td>
          </tr>
        </tbody>

      </table>