<div class="container">
  <div class="row ">
    <div class="card col-sm-6">
      {{> set}}
    </div>
    <div class="card col-sm-6">
      {{> relations}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      {{> matrix}}
    </div>
    <div class="col-sm-6">
      {{> properties}}
    </div>
  </div>
</div>